name: frontend
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
     http: ^1.0.0 # Để gọi API (giao tiếp với Backend)
    provider: ^6.0.0 # (Hoặc riverpod) Dùng để quản lý State (trạng thái)
    flutter_secure_storage: ^9.0.0 # Để lưu JWT Token an toàn


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
